@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2e2e2e;
    color: #f2f2f2;
    display: grid;
    place-items: center;
    height: 100vh;
}

main {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2;
    padding: 2rem;
    border-radius: 15px;
    border: 2px outset #5e5e5e;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 3px;
}

.numero {
    width: 100px;
    margin: 0 auto;
}

.btn-somar {
    width: 50px;
    margin: 1rem auto;
    transition: .5s;
}

div.titulo-resp {
    width: 100%;
    text-align: center;
}

#resposta {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 1rem;
}